
@font-face {
    font-family: 'VALORANT';
    font-style: normal;
    font-weight: normal;
    src: local('VALORANT'), url('VALORANT.woff') format('woff');
}
body {
    background-image: url("/jett-valorant-4k-2020-dl.jpg");
    background-size: cover;
}

#backgroundvid {
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 50%;
        min-height: 50%;
      
}
video {
    object-fit: cover;
    height: 100%;
    width: 100%;
    position:relative;
    top: 0;
    left: 0;
}


.info {
    background-color: black;
    opacity: 70%;
    border-radius: 12px;
    width:65%;
    float: left;
}
.info-content{
    padding: 18px;
}

.deets {
    font-family: "VALORANT";
    color:white;
    font-size:large;
    line-height: 29px;
}
footer {
    text-align: center;
    font-family: VALORANT;
/*     position: absolute; */
    bottom: 0;
    left: 0;
    opacity: 80%;
    color: white;
    text-align: center;
    
}
.header {
    background-color: black;
    opacity: 80%;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    margin-top: 10px;
    margin-left:20px;
    margin-right: 20px;
    margin-bottom: 15px;
    border-radius: 12px;
}
@media screen and (max-width: 600px) {
    .header{
        margin-left:0px;
        margin-right: 0px;
    }
    #department{
        margin-top: 10px;
    }
    .info{
        width: 100%;
    }
    .deets {
        font-size:14px;
    }
    #prizepool {
        font-size:10px;
    
    }
    .countdown {

    border-radius: 15px;
    display: inline;
    opacity: 75%;
    font-family: "VALORANT";
    font-size: 20px;
    background-color: black;
    color: white;
    text-align: center;
    padding:5px;
    margin: 10px;
    margin-top: 100px;
    }
    .button {
        background-color: black;
        color:white;
        opacity: 80%;
        font-family: "VALORANT";
        float:inline-start;
        font-size:large;
        text-align:center;
        padding:20px;
        margin: 20px;
        margin-top: 0px;
        border-radius: 10px;
        cursor: pointer;
        transition-duration: 0.3s;
    }
  }
#department {
    font-family: "VALORANT";
    color:white;
    /* font-size: larger; */
    /* line-height: 20px; */
}
.ml10 {
    font-family: "VALORANT";
    color:white;
    opacity: 200%;
    font-size: xx-large;
    position: relative;
    font-weight: 900;
    font-size: xx-large;
}
  
.ml2 .letter {
    display: inline-block;
    line-height: 1em;
}

.letters{
font-weight: 2000px;
text-shadow: 0 2px 1px #79a06d, 
      -1px 3px 1px #82ad75, 
      -2px 5px 1px #8ebf80;
}
#prizepool {
    font-size: xx-large;
    text-align: center;  

}
a {
    text-decoration: none; 
    color: inherit; 
}
@media screen and (min-width: 601px) {
.countdown {

    border-radius: 15px;
    display: inline;
/*     background-color: black; */
    opacity: 75%;
    font-family: "VALORANT";
    font-size: 30px;
    background-color: black;
    color: white;
    text-align: center;
    width: 50px;
    height: 90px;
    padding:20px;
    margin: 60px;
    margin-top: 100px;
}
.button {
    /* display:inline; */
    background-color: black;
    color:white;
    opacity: 80%;
    font-family: "VALORANT";
    float:inline-start;
    font-size:xx-large;
    text-align:center;
    padding:30px;
    margin: 20px;
    margin-top: 0px;
    border-radius: 10px;
    cursor: pointer;
    transition-duration: 0.3s;
}
#department {
    font-size: larger;
    /* line-height: 20px; */
}
}
.countdown-main{
    padding: 20px;
    padding-top: 100px;
}
a:link {
    color: #00ffdf; 
}
a:active {
    color: #00ffdf;
}
a:visited {
    color: #00ffdf;
}
a:hover {
    color:white;
}

.button:hover {
    background-color: grey;
    color: white;
}

.credits {
    position: relative;
    font-family: "VALORANT";
    right: 0;
    left: 0;
    bottom: 0;
    padding: 15px;
    text-align: right;
    font-size: 13px;
    color: #fff;
    z-index: 999999;
  }
  .scoreboard {
    background-color: black;
    opacity: 70%;
    border-radius: 12px;
    width:65%;
    margin:auto;
    padding:auto;
    /* font-size: 15px; */
    font-family: "VALORANT";
  }
